{% extends "admin_base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>Seller</th>
                <th>Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.buyer.username }}</td> 
                    <td>{{ transaction.seller.username }}</td> 
                    <td>{{ transaction.item.name }}</td>  
                    <td>{{ transaction.amount }}</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
